h1{
	text-align: center;
	margin-bottom: 30px;
}
.chat-box{
	height:500px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 20px;
}

.chat-box__footer{
	border-top: 1px solid lightgray;
	padding-top: 20px;
}

.chat-box__footer .form-control{
	margin-right: 10px;
}

.layout-row{
	display: flex;
	flex-direction: row;
}
.layout-column{
	display: flex;
	flex-direction: column;
}
.flex-auto{
	flex: 1 1 auto;
}
.flex-none{
	flex: 0 0 auto;
}

.player-choice-button{
	width: 150px;
	padding: 25px;
	border-radius: 50%;
}
.player-choice-button:hover{
	background: lightgray;
}
.opponent-choice-button{
	width: 150px;
	padding: 25px;
	border-radius: 50%;
	border: 1px solid lightgray;
	display: inline-block;
}
.opponent-choice-button img{
	opacity: 0.5;
}
.player-choice-button img, .opponent-choice-button img{
	width: 100%;
}

.opponent-chosen{
	background: lightblue;
}

.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

